.App {
  font-family: sans-serif;
  text-align: center;
}
.cell:hover {
  cursor: pointer;
}
.crossImg {
  width: 50%;
}
.resetBtn:hover {
  color: rgb(65, 61, 61);
  cursor: pointer;
  color: black;
}
